services:
  flask_app:
    build:
      context: .
      dockerfile: Dockerfile.flask
    ports:
      - "8000:8000"

  streamlit_app:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    depends_on:
      - flask_app
